adfcode/pipeline/pl_master_orch_jdbc.json
{
	"name": "pl_master_orch_jdbc",
	"properties": {
		"activities": [
			{
				"name": "generate_batch_execution_date",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[controlTable].[GetExecutionDateV05]",
						"storedProcedureParameters": {
							"execdate": {
								"type": "String",
								"value": null
							},
							"firstload": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.firstload",
									"type": "Expression"
								}
							},
							"previousrunstatus": {
								"type": "String",
								"value": null
							},
							"sourcename": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.sourcename",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_mddi_controlTable_sqldb",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "get_list_of_objects_to_be_ingested",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "generate_batch_execution_date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[controlTable].[GetListOfObjects]",
						"storedProcedureParameters": {
							"previousrunstatus": {
								"type": "String",
								"value": {
									"value": "@activity('generate_batch_execution_date').output.firstRow.previousrunstatus",
									"type": "Expression"
								}
							},
							"retryfailedflag": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.retryfailedflag",
									"type": "Expression"
								}
							},
							"sourcename": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.sourcename",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_mddi_controlTable_sqldb",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "iterate_through_each_object",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "get_list_of_objects_to_be_ingested",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('get_list_of_objects_to_be_ingested').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "get_object_level_config",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_jdbc_config_parser",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"execution_date": {
										"value": "@activity('generate_batch_execution_date').output.firstRow.execdate",
										"type": "Expression"
									},
									"source": {
										"value": "@pipeline().parameters.sourcename",
										"type": "Expression"
									},
									"tableName": {
										"value": "@item().tableName",
										"type": "Expression"
									},
									"firstload": {
										"value": "@pipeline().parameters.firstload",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"sourcename": {
				"type": "string"
			},
			"firstload": {
				"type": "string",
				"defaultValue": "F"
			},
			"retryfailedflag": {
				"type": "string",
				"defaultValue": "F"
			}
		},
		"folder": {
			"name": "MDDI_V01"
		},
		"annotations": [],
		"lastPublishTime": "2024-05-22T10:03:15Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}